/* OPEN MODALS BUTTON (CREATE WORD & CANCEL) */
#addWordButton, #addMemberButton{
    margin:0 auto;
    margin-bottom: 50px;
    display:block;
    text-transform: uppercase;
    padding: 15px;
    width: 20%;
}
/* OPEN MODAL BUTTON ACTIONS */
#addWordButton:hover, #addWordButton:active, #addWordButton:focus,
#addMemberButton:hover, #addMemberButton:active, #addMemberButton:focus {
    background: #43A047;
    cursor: pointer;
}

/* MODAL DIV */
#addWordModal, #editWordModal, #deleteWordModal,
#addMemberModal, #editMemberModal, #deleteMemberModal,
#deleteHistoryModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* MODAL CONTENT ALL */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* MODAL CLOSE BUTTON */
.addWordClose, .editWordClose, .deleteWordClose,
.addMemberClose, .editMemberClose, .deleteMemberClose,
.deleteHistoryClose{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/* MODAL CLOSE BUTTON ACTIONS */
.addWordClose:hover, .addWordClose:focus, .editWordClose:hover, 
.editWordClose:focus, .deleteWordClose:hover, .deleteWordClose:focus,
.addMemberClose:hover, .addMemberClose:focus, .editMemberClose:hover, 
.editMemberClose:focus, .deleteMemberClose:hover, .deleteMemberClose:focus,
.deleteHistoryClose:hover, .deleteHistoryClose:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* MODAL HEADER */
.addModal-header h1, .editModal-header h1, .deleteModal-header h1{
    background-color: #339958; /* GREEN FOR ADD MODAL */
    color: #FFFFFF;
    padding: 15;
    margin: 0;
}
.editModal-header h1{
    background-color: #FFFF00; /* YELLOW FOR EDIT MODAL */
    color: #111;
}
.deleteModal-header h1{
    background-color: #FF0000; /* RED FOR DELETE MODAL */
}

.modal-form{
    padding: 20;
}
/* MODAL TEXT FIELDS */
.modal-textField{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 15 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;    
}

.hidenTextFields{
    display: none;
}

/* MODALS RADIO BUTTONS */
.modal-radio-buttons-div{
    display: flex;
    justify-content: center;
}
.modal-radio-label{
    font-size: 25px;
}
.modal-radio-button{
    width: 25px;
    height: 25px;
}
.modal-radio-button[type="radio"]:checked + span{
    color:#0B8;  /* Change the color of the selected radio button */
}

/* MODAL's SUBMISSION BUTTONS */
.addModal-submit-button, .editModal-submit-button, .deleteModal-submit-button{
    text-transform: uppercase;
    border: 0;
    padding: 15px;
    color: #111;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    width: 100%;
    
}
/* MODAL's SUBMISSION BUTTONS ACTIONS */
.addModal-submit-button:hover, .addModal-submit-button:focus{
    background: #43A047; /* GREEN FOR ADD MODAL */
    cursor: pointer;
}
.editModal-submit-button:hover, .editModal-submit-button:focus{
    background: #FFFF00; /* YELLOW FOR EDIT MODAL */
    cursor: pointer;
}
.deleteModal-submit-button:hover, .deleteModal-submit-button:focus{
    background: #FF0000; /* RED FOR DELETE MODAL */
    cursor: pointer;
}












