@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.wordsTable {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: 0 auto 100px;
    background-color: #FFFFFF;
}
.columnLabel{
    text-align: center;
    border: 5px;
    font-size: 30px;
    
}
#columnData, .columnLabel {
    
    border: 1px solid #dddddd;
    padding: 8px;
}

.columnRow:nth-child(even) {
    background-color: #dddddd;
}
.columnDataImage{
    width: 40px;
    height: 30px;
}
/* Table of Words in Welsh | English | Gender| Options */
.editImage{
    float: left;
}
.deleteHistoryImage{
    margin-left: 46%; /* SET DELETE BUTTON IF ITS ONLY IN THE MIDDLE */
}
.deleteImage{
    float: right;
}
.editImage, .deleteImage, .deleteHistoryImage{
    width: 25px;
    height: 25px;
}
.editImage:hover, .deleteImage:hover, .deleteHistoryImage:hover{
    cursor: pointer;
}
