#questionView{
    
    box-sizing: border-box;
    margin-left:5%;
    margin-right:5%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-width:100px;
    
    background-color: gray;
    background: rgb(169,169,169);
    text-align: center;
}
#questionView label{
    font-size:20px;
}

.scoreText{
    font-size: 40px;
    color: white; /* WHITE TEXT FOR SCORE */
    text-align: center;
}

/* Submit Button */
#submitTestButton{
    margin:0 auto;
    margin-bottom: 50px;
    display:block;
    text-transform: uppercase;
    padding: 15px;
    width: 20%;
}
/* OSubmit Button Actions */
#submitTestButton:hover, #submitTestButton:active, #submitTestButton:focus{
    background: #43A047;
    cursor: pointer;
}