/* Table of Words in Welsh | English | Gender| Options */
.editWordImage{
    float: left;
}
.deleteWordImage{
    float: right;
}
.editWordImage, .deleteWordImage{
    width: 25px;
    height: 25px;
}
.editWordImage:hover, .deleteWordImage:hover{
    cursor: pointer;
}

.modal-content{
    left: 40%;
    right: 40%;
    width: 30%;
    margin: auto;
    background-color: #888; /* Silver Background Color for MODAL */
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#myModal{
    /* display: none;  Hidden by default */
    width: 500px;
    margin: auto;
}
