<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.welsh_tests.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>com.mycompany.welsh_tests.ManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeTestServlet</servlet-name>
        <servlet-class>com.mycompany.welsh_tests.TakeTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditWordsServlet</servlet-name>
        <servlet-class>com.mycompany.welsh_tests.EditWordsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/ManageUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeTestServlet</servlet-name>
        <url-pattern>/TakeTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWordsServlet</servlet-name>
        <url-pattern>/EditWordsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
